html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

table {
  border: solid 1px gray;
}

table tbody td {
  border-left: solid 1px gray;
}

table tbody td:last-of-type {
  border-left: none;
}

.cell-title {
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 1rem;
  border-bottom: solid 1px gray;
}
.cell-info {
  display: block;
  padding: 3rem;
  background: lightgreen;
}